@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

* {
  background: goldenrod;
}
.app-header {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Source Sans Pro', sans-serif; */
};
.header{
  font-family: 'Azeret Mono', monospace;
  font-size: 30px;
}

.app-body{
  padding: 20px;
  text-align: center;
}
.language-select {
  height: 38px !important;
  margin-bottom: 15px;
  width: 180px !important;
}